<h2>Hello, <%= current_user.username %></h2>



<%= link_to "Buddy Body's Workouts", user_workouts_path(current_user) %><br>
<%= link_to "Buddy Body's Trainers", trainers_path%><br>
<%= button_to "Logout", logout_path, method: :delete%>